/* IE8 CSS Document */


.black-overlay {
	background: none;
	background-image: url('/images/global/trans-black-40pct.png');
}

.container-home.hero>.container-hero-intro {
	background: none;
	background-image: url('/images/global/trans-black-60pct.png');
} 

.latest-news-item {	
	border-bottom: 1px solid #313131;
}

.listing-blog-block>.summary>.content {
	width: 580px!important;
}

#formNavDesktopSearch label.error, #formSearch label.error {
	background: none;
	background-image: url('/images/global/trans-black-60pct.png');
}
