/* ------------------------------------ 
   Containers
   ------------------------------------ */

	
	/* ------------------------------------ 
	   Container Colourings/ Backgrounds
	   ------------------------------------ */
	
	.container-content.coloured.gradient {
	   filter: none;
	}