---
layout: homepage
url:
metadesc: For UK business relocation and professional business relocation services contact Invest Essex today! Email contact@investessex.co.uk.
title: Invest Essex
---

<aside class="container-full-width container-contact-bar">
    <div class="container">
        <a href="index.html#contact-block" class="btn btn-contact"><span class="hidden-xs">Contact Us </span><i class="fa fa-envelope"></i></a>
    </div>
    
</aside>

<section id="" class="container-full-width container-home hero">
	<div class="container-home" xstyle="background-color: rgba(0, 0, 0, 0.4);">
	{% include mainnav.html %}
<div class="container jumbotron ">
        <div class="container">
            <div class="row">
                <div class="col-md-6 get-it">
                  <h1>INVEST<br/>Essex</h1>
                        <p><strong>Essex is one of the UK and Europe’s best business locations.</strong> We make it easy for companies to locate here, and grow here.</p>  
                </div>
            </div>
        </div>
    </div>  
	</div>   
 </section> 

<section id="heroFeaturesDesktop" class="container-full-width  clearfix" style="background-image: url('//clarity-strategies.github.io/ie-uploads/images/global/home-sectors.jpg');">
    <div class="container"> 
        <div class="row">            
            <div class="col-sm-12">            
                <div class="inner clearfix">                    
                    <div class="col-md-3 fp8">                      	             	
                        	<a href="location-benefits">
								<img src="//clarity-strategies.github.io/ie-uploads/uploads/homepage/fp1.jpg" width="100%"/>
								                  	                                              
                        <div class="fp-title">The Best UK Location For Your Business</div></a>         
                    </div><div class="col-md-3 fp8" >                     	                      	
                        	<a href="business-support">
								<img src="//clarity-strategies.github.io/ie-uploads/uploads/homepage/fp2.jpg" width="100%" />
								                    	                                             
                        <div class="fp-title">Support for Your UK Business Expansion</div></a>          
                    </div><div class="col-md-3 fp8">              	                       	
                        	<a href="studies/list/case-studies">
							<img src="//clarity-strategies.github.io/ie-uploads/uploads/homepage/fp3.jpg" width="100%"/>                 	                                              
                        <div class="fp-title">Companies Supported by Invest Essex</div></a>          
                    </div><div class="col-md-3 last fp8">                      	                	
                            <a href="studies/list/leading-essex-companies">
							<img src="//clarity-strategies.github.io/ie-uploads/uploads/homepage/fp8.jpg" width="100%"/>                                                                    
                        <div class="fp-title">Leading Companies Based in Essex</div>     </a>    
                    </div>   
                </div>
            </div>            
        </div>
           <div class="row">            
            <div class="col-sm-12">
                <header class="section-header nomarginbtm">
                <h3>Essex UK: World-Class Industry Sectors</h3>
                </header>
               <div class="inner clearfix">                    
                    <div class="col-md-3 fp8">                      	             	
                        	<a href="/sectors/london-essex-uk-finance-corridor">
								<img src="//clarity-strategies.github.io/ie-uploads/uploads/homepage/fp4.jpg" width="100%" />
								                  	                                              
                        <div class="fp-title">Financial &amp; Business Services</div>  </a>      
                    </div><div class="col-md-3 fp8" >                     	                      	
                        	<a href="/sectors/uk-multimodal-gateway-essex">
								<img src="//clarity-strategies.github.io/ie-uploads/uploads/homepage/fp5.jpg" width="100%" />
								                    	                                             
                        <div class="fp-title">Ports &amp; Logistics Services</div> </a>       
                    </div><div class="col-md-3 fp8">              	                       	
                        	<a href="/sectors/high-technology-cluster">
							<img src="//clarity-strategies.github.io/ie-uploads/uploads/homepage/fp6.jpg" width="100%"/>                   	                                              
                        <div class="fp-title">High-Technology</div> </a>       
                    </div><div class="col-md-3 last fp8">                      	                	
                            <a href="/sectors/life-sciences-healthcare-cluster" target="_blank">
							<img src="//clarity-strategies.github.io/ie-uploads/uploads/homepage/fp7.jpg" width="100%"/>                                                                
                        <div class="fp-title">Life Sciences &amp; Healthcare</div>  </a>      
                    </div>   
                </div>
            </div>            
        </div>
        <div class="row" style="margin: 40px 0px;">
            <div class="col-sm-12">
               <div class=" clearfix">                  
                    <div class="col-md-6 ">                      	             	
                        	<center><a class="btn btn-header" href="brochure-download">Download Brochure <img src="//res.cloudinary.com/investessex/image/upload/h_42/brochure-download-icon-white.png"/></a></center> <img src="//res.cloudinary.com/investessex/image/upload/brochure-download-icon-white.png"/>                               
                    </div>
                    <div class="col-md-6">                     	                      	
                        	<center><a class="btn btn-header" href="property-search">Search Properties <img src="//res.cloudinary.com/investessex/image/upload/h_42/property-search-icon-white.png"/></a></center>    <img style="margin-left:40px;" src="//res.cloudinary.com/investessex/image/upload/property-search-icon-white.png"/>       
                    </div>
                </div>
            </div>
        </div>       
    </div>
</section>


  <section id="homeInfrastructureMap" class="container-full-width container-content light container-infrastructure-map ">

    <article class="container">
    
        <div class="row">
            <div class="col-sm-12">
            
                <header class="section-header carousel-below clearfix ">
                    <h2>Discover Essex UK</h2>
                    
                </header> 
            
            </div>
        </div>
        
    </article>
        <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
     
    </style>
    <div id="map"></div>
<!-- Replace the value of the key parameter with your own API key. -->
</section> 

<!-- { no-include homepage/sectors.html }  -->  

 
<section id="homeNews" class="container-full-width container-content container-auto-height coloured">
<article class="container">
<div class="row">
  <div class="col-sm-12">
    <header class="section-header carousel-below clearfix ">
      <h3>Latest News</h3>
    </header>
  </div>
</div>
        
<div class="row">
<div class="col-sm-8 col-carousel-nav-home-news">
  <div class="carousel-nav-owl carousel-nav-home-news clearfix">
    <div class="controls">
    </div>
  </div> 
  <div class="owl-carousel carousel-home-news owl-loaded owl-drag">
 <!-- START post loop -->
{% for post in site.posts limit: 3 %} 
<div class="inner" style="background-image: url('{{ post.hero_image }}');">
  <div class="black-overlay"></div>
  <div class="content">
    <ul class="news-categories clearfix">                            
      <li><a href="sectors/{{ post.sectors[0] }}">{{ post.sectors[0] | replace: '-', ' ' | capitalize }}</a></li>
    </ul>
    <h3>{{ post.heading }}</h3>
    <p>{{ post.content | truncate: 150 | replace: '**', ' ' }} ...</p>
    <a href="blog/{{ post.posturl }}" class="btn">Read More</a>
  </div>
</div> 
{% endfor %} 
 <!-- END post loop -->              
</div>   

</div>
<aside class="col-sm-4 col-recent-news">
  <h4>Most Recent Articles</h4>
{% for post in site.posts limit: 3 %}   
<div class="latest-news-item">
    <p class="date">{{ post.pub_date | date_to_long_string }}</p> 
    <p><a href="blog/{{ post.posturl }}">{{ post.heading }}</a></p>                    
</div>
{% endfor %}     
<a href="blog" class="btn">All News</a>  
</aside>
</div>
</article>
</section>

{% include homepage/partnerlogocarousel.html %}

<!--
<section id="homeInfrastructureMap" class="container-full-width container-content light container-infrastructure-map ">

    <article class="container">
    
        <div class="row">
            <div class="col-sm-12">
            
                <header class="section-header carousel-below clearfix ">
                    <h2>Essex<br/>Infrastructure</h2>
                    <div class="synopsis"><p>Local infrastructure and important places of interest.</p></div>
                </header> 
            
            </div>
        </div>
        
    </article>

</section> 
-->
<!--
<section id="homeFamily" class="container-full-width container-content container-auto-height container-family dark">

    <article class="container">
    
        <div class="row">
            <div class="col-sm-12">
            
           		<header class="section-header carousel-below clearfix ">
                    <h2>A Wide Range<br/>Of Expertise</h2>
                    <div class="synopsis"><p>This programme is part of a wider team of professionals working with businesses across a number of business growth themes; international market access, business incubation, innovation and business development.</p></div>
                    
                </header>
            
            </div>
        </div>
        
        <div class="row row-tabs-family ">
            <div class="col-sm-12">
            
                <div class="tabs-family" role="tabpanel">    
                    
                    <ul class="nav nav-tabs" role="tablist">
                    	<li role="presentation" class="active"><a href="index.html#family1" aria-controls="family1" role="tab" data-toggle="tab">Invest<br/>Essex</a></li><li role="presentation" ><a href="index.html#family2" aria-controls="family2" role="tab" data-toggle="tab">Enterprise<br/>Centres</a></li><li role="presentation" ><a href="index.html#family3" aria-controls="family3" role="tab" data-toggle="tab">Innovation<br/>Programme</a></li><li role="presentation" ><a href="index.html#family4" aria-controls="family4" role="tab" data-toggle="tab">Essex<br/>International</a></li>
                    </ul>

                    
                    <div class="tab-content">
                    
                    	<div role="tabpanel" class="tab-pane active" id="family1">
                        
                            <div class="image" style="background-image: url('//clarity-strategies.github.io/ie-uploads/uploads/homepage/INVESTEssex_Famblkimg_570x380.jpg');"></div>
                            <div class="content">
                            	<img src="//clarity-strategies.github.io/ie-uploads/uploads/homepage/family-logo-invest-essex.jpg" alt="INVEST Essex" />
                                <h5>INVEST Essex</h5>
                                <p>Helping businesses to establish a foothold in the UK and European markets. Promoting the opportunities of a location on the doorstep of London and Cambridge and with excellent links to Europe to companies in the UK, Europe and globally.</p>
                                <a href="http://www.investessex.co.uk" class="btn">Visit This Site</a>
                                
                            </div>
                        
                        </div><div role="tabpanel" class="tab-pane " id="family2">
                        
                            <div class="image" style="background-image: url('//clarity-strategies.github.io/ie-uploads/uploads/homepage/EntCentres_570x380.jpg');"></div>
                            <div class="content">
                            	<img src="//clarity-strategies.github.io/ie-uploads/uploads/homepage/family-logo-enterprise-centres.jpg" alt="Essex Enterprise Centres" />
                                <h5>Essex Enterprise Centres</h5>
                                <p>Providing a flexible, stimulating and supportive business environment for companies, typically micro and small, looking to take their first steps into occupying premises. Our Enterprise centres are located in Basildon, Clacton and Ongar.</p>
                                <a href="http://www.essexenterprisecentres.co.uk" class="btn">Visit This Site</a>
                                
                            </div>
                        
                        </div><div role="tabpanel" class="tab-pane " id="family3">
                        
                            <div class="image" style="background-image: url('//clarity-strategies.github.io/ie-uploads/uploads/homepage/EIP_570x380.jpg');"></div>
                            <div class="content">
                            	<img src="//clarity-strategies.github.io/ie-uploads/uploads/homepage/family-logo-innovation.jpg" alt="Essex Innovation Programme" />
                                <h5>Essex Innovation Programme</h5>
                                <p>Helping companies, both early stage and established, to develop their creative and innovative commercial development ideas. Providing experienced professional private sector support to help businesses to grow and commercialise their innovative ideas.</p>
                                <a href="http://www.essexinnovation.co.uk" class="btn">Visit This Site</a>
                                
                            </div>
                        
                        </div><div role="tabpanel" class="tab-pane " id="family4">
                        
                            <div class="image" style="background-image: url('//clarity-strategies.github.io/ie-uploads/uploads/homepage/EI_570x380.jpg');"></div>
                            <div class="content">
                            	<img src="//clarity-strategies.github.io/ie-uploads/uploads/homepage/family-logo-essex-international.jpg" alt="Essex International" />
                                <h5>Essex International</h5>
                                <p>Helping companies and organisations to access the Chinese market.&nbsp; Providing unique access through an exclusive 27-year relationship with the Jiangsu province in China.&nbsp; Essex International have the right connections to help businesses to export, pursue partnerships, the right expertise and in market presence develop connections and partnerships and the right experience to help organisations increase their presence in the Chinese market.&nbsp;&nbsp;</p>
                                <a href="http://www.essexinternational.org" class="btn">Visit This Site</a>
                                
                            </div>
                        
                        </div>
                        
                    </div>                
                
                </div>            
            
            </div>
        </div>
        
        
        
     </article>
     
</section>   
-->
       
{% include allcontactsblock.html %}
















