---
layout: default
contact: simon-papworth
heading: How We <br/> Can Help
hero_image: //clarity-strategies.github.io/ie-uploads/uploads/headers/BenefitsOverlay_LondonSkyline_1980x600_30pc.jpg
synopsis: We help companies to identify their optimal business location and implement their relocation or expansion project as quickly and efficiently as possible.
testimonial_carousel: testimonials-business-support
---

<aside class="container-full-width container-contact-bar" style="bottom: 0px;">

    <div class="container">
        <a href="#contact-block" class="btn btn-contact"><span class="hidden-xs">Contact Us </span><i class="fa fa-envelope"></i></a>
    </div>
    
</aside>   

<section class="container-full-width container-subpage-hero dark" style="background-image: url('{{ page.hero_image}}');">
                
    <div class="container">           
             
        <div class="inner">     
            <header class="section-header clearfix to-be-animated animated fadeInUp">
                <h1>{{ page.heading }}</h1>
                <div class="synopsis">
					<p>{{ page.synopsis }}</p>

<p>Our team benefits from experience working with businesses of all sizes, across all industry sectors and from international locations including the US, Asia, Europe and the UK.</p>

<p>Our services are free-of-charge, bespoke and confidential, delivered both directly and through our network of approved business partners</p>
                </div>
            </header> 
        </div>
        
    </div>

</section>   
     
     
<section class="container-full-width container-content container-single-pager light adjacent-light-no-pad-b">
        
            <article class="container">
        
                <div class="row">
                    <div class="col-sm-12">
                    
                        <header class="section-header clearfix">
                            <h3 class="notwhite">Support for expanding businesses</h3>
                        </header> 
                    
                    </div>
                </div>
                
                
                <div class="row">
                    <div class="col-sm-12 col-listing-content">
                    
                        <div class="content">
                        
                            <p>Working with our business partners, we deliver a ‘total solution’ that can guide and support you through every stage of your business relocation or expansion, from location assessment and business planning to project completion – helping you get ready to do business.</p>

<p>Our range of support services includes, but is not limited to . . .</p>

<ul>
	<li>Understanding the UK business and regulatory environment</li>
	<li>Evaluating and selecting your ideal business location and property/site</li>
	<li>Setting up and business planning your UK operation (financial and legal advice)</li>
	<li>Identifying potential sources of business funding</li>
	<li>Building your local supply chain and business networks</li>
	<li>Recruiting and training your high-quality workforce</li>
	<li>Accessing university knowledge and research/development expertise</li>
</ul>
                                            
                        </div>
                                    
                    </div>
                 </div>        
                 
                 
              
                
            </article>
        
        </section><section class="container-full-width container-content container-single-pager light adjacent-light adjacent-light-no-pad-b">
        
            <article class="container">
        
                <div class="row">
                    <div class="col-sm-12">
                    
                        <header class="section-header clearfix">
                            <h3 class="notwhite">Funding Solutions</h3>
                        </header> 
                    
                    </div>
                </div>
                
                
                <div class="row">
                    <div class="col-sm-12 col-listing-content">
                    
                        <div class="content">
                        
                            <p>Through our network of business partners, we can broker access to a wide range of business funding solutions, including bank loans, venture capital finance and government grants and incentives.&nbsp;Examples of current funding opportunities include...</p>

<ul>
	<li><strong>The Tendring SME Growth Fund&nbsp;</strong>- a&nbsp;£750,000 programme to support Small and Medium Enterprises (SMEs). The scheme will provide grants for new and existing businesses and the grants are intended to contribute to the costs of starting up or growing a business. <a href="http://investessex.co.uk/blog/scheme-to-provide-grants-for-small-and-medium-enterprises#.V6r1uFsrLIU" target="_blank">Read more here</a>.<br>
	&nbsp;</li>
	<li><strong>Business Development Rate Relief Scheme</strong> Eligible businesses in the Uttlesford District can apply for discount on business rates. <a href="http://investessex.co.uk/blog/business-development-rate-relief-scheme#.V62fY1srLIU" target="_blank">Read more here</a>.<br>
	&nbsp;</li>
	<li><strong>£500,000 Business Growth Loan Fund For Innovative Businesses</strong>. Growing businesses in the Braintree District area invited to apply for capital investment loans. <a href="http://investessex.co.uk/blog/braintree-district-council-launches-500000-business-growth-loan-fund#.V6r39VsrLIV" target="_blank">Read more here</a>.</li>
</ul>
                                            
                        </div>
                                    
                    </div>
                 </div>        
                 
                 
              
                
            </article>
        
        </section><section class="container-full-width container-content container-single-pager light adjacent-light">
        
            <article class="container">
        
                <div class="row">
                    <div class="col-sm-12">
                    
                        <header class="section-header clearfix">
                            <h3 class="notwhite">Free High Value Services</h3>
                        </header> 
                    
                    </div>
                </div>
                
                
                <div class="row">
                    <div class="col-sm-12 col-listing-content">
                    
                        <div class="content">
                        
                            <p>We provide high-value services to relocating and expanding businesses on a <strong>no-fee</strong> basis. INVEST Essex is fully funded to help businesses grow and prosper in one of the UK and Europe’s most dynamic business locations.<br>
&nbsp;</p>
                                            
                        </div>
                                    
                    </div>
                 </div>        
                 
                 
              
                
            </article>
        
        </section><section class="container-full-width container-content container-single-pager coloured">
        
            <article class="container">
        
                <div class="row">
                    <div class="col-sm-12">
                    
                        <header class="section-header clearfix">
                            <h3 class="notwhite">Business Research</h3>
                        </header> 
                    
                    </div>
                </div>
                
                
                <div class="row">
                    <div class="col-sm-12 col-listing-content">
                    
                        <div class="content">
                        
                            <p>High-quality information is key to a successful business relocation or expansion project.</p>

<p>Utilising our knowledge, experience and business networks, we can provide the reliable information and data required to facilitate your project’s success.</p>

<p>Our business research services include . . .</p>

<ul>
	<li>Commercial property and site searches and evaluations</li>
	<li>Identification of business funding solutions, including grant funding</li>
	<li>Labour market analysis and profiling to inform workforce recruitment</li>
	<li>Bespoke research to support business plan development</li>
	<li>Identification of university research and development partners</li>
	<li>Local industry sector profiling and market validation</li>
</ul>
                                            
                        </div>
                                    
                    </div>
                 </div>        
                 
                 
              
                
            </article>
        
        </section>
        <section class="container-full-width container-full-image dark" style="background-image: url('http://investessex.co.uk/uploads/pages/recruitment-full-width.jpg');"></section><section class="container-full-width container-content container-single-pager light adjacent-light-no-pad-b">
        
            <article class="container">
        
                <div class="row">
                    <div class="col-sm-12">
                    
                        <header class="section-header clearfix">
                            <h3 class="notwhite">Recruitment &amp; training</h3>
                        </header> 
                    
                    </div>
                </div>
                
                
                <div class="row">
                    <div class="col-sm-12 col-listing-content">
                    
                        <div class="content">
                        
                            <p>Our specialist recruitment and training/education partners can help you to identify, recruit and train people with the ideal profiles, experience, skills and qualifications for your business.</p>
                                            
                        </div>
                                    
                    </div>
                 </div>        
                 
                 
              
                
            </article>
        
        </section><section class="container-full-width container-content container-single-pager light adjacent-light">
        
            <article class="container">
        
                <div class="row">
                    <div class="col-sm-12">
                    
                        <header class="section-header clearfix">
                            <h3 class="notwhite">Property Search</h3>
                        </header> 
                    
                    </div>
                </div>
                
                
                <div class="row">
                    <div class="col-sm-12 col-listing-content">
                    
                        <div class="content">
                        
                            <p>Our property portfolio contains the most up to date listings of all the properties within our geography. Comprehensive information about each property in our property database can be downloaded or searched at the click of a button.</p>

<p><a href="/property-search">View Available Property</a></p>
                                            
                        </div>
                                    
                    </div>
                 </div>        
                 
                 
              
                
            </article>
        
        </section>
        
<section class="container-full-width container-content container-single-pager light">

    <article class="container">
    
        <div class="row">
            <div class="col-sm-12">
            
                <header class="section-header carousel-below clearfix">
                    <h3 class="notwhite">What Businesses Say</h3>
                </header> 
            
            </div>
        </div>        
        
{% assign thecarousel = page.testimonial_carousel %}
{% include testimonialcarouselsector.html %}  
        
    </article>    

</section>   

{% assign thecontact = site.contacts | where: "contact_url", page.contact | first %}
{% include contactblock.html %}  