<section class="container-full-width container-content container-single-pager light">
    <div class="container">
      <div class="row">
         <div class="col-sm-12 text-center">                 
             <div id="carouselNavLogoCarousel" class="carousel-nav-owl carousel-nav-logo-carousel clearfix">
                <div class="controls"></div>
             </div> 
                 <div id="carouselLogoCarousel" class="owl-carousel carousel-single-logos carousel-logo-carousel" data-logo-carousel-entry-id=""> <!-- 2420 -->
                   {% assign logosallsectors = "partner-advanced-electronics, partner-life-sciences, partner-business-professional-financial-services, partner-port-logistics" | split: ','%}
                   {% for logosector in logosallsectors%}
                     {% for partner in  site.data.logo-carousels[logosector] %}
                      <div class="inner {{ partner.company }}" style="background-image: url('//clarity-strategies.github.io/ie-uploads/uploads{{ partner.logo }}')";></div>
                      {% endfor %}
                    {% endfor %}
                 </div>
         </div>            
      </div>
    </div>
 </section>