<aside class="container-full-width {{ include.style }} container-contact-bar">
    <div class="container social-icons">

            	<span class="youtube"><a href="http://www.youtube.com/user/INVESTEssex"><i class="fa fa-youtube"></i></a></span>
                <span class="linkedin"><a href="http://www.linkedin.com/company/2503856"><i class="fa fa-linkedin"></i></a></span> 
                <span class="twitter"><a href="https://twitter.com/investessex"><i class="fa fa-twitter"></i></a></span>
                <span class="to-top"><a href="#top"><i class="fa fa-angle-up"></i></a></span>

        <a href="{{ site.url }}/contacts/" class="btn btn-contact"><span class="hidden-xs">Contact Us </span><i class="fa fa-envelope"></i></a>
    </div> 
</aside>