<!-- Mobile Menu -->
<nav id="navMobile" class="navbar navbar-default navbar-fixed-top visible-xs">

    <div class="container">
    
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <i class="fa fa-bars"></i>
            </button>
            
            <a class="navbar-brand" href="http://investessex.co.uk/">
            <svg width="77" height="38">
				<image xlink:href="/images/global/logo-invest-essex.svg" src="/images/global/logo-invest-essex.jpg" width="77" height="38" border="0" />
			</svg>
            </a>
            
            <div class="navbar-ecc-logo">            
				<svg width="92" height="48">
                    <image xlink:href="/images/global/logo-ecc.svg" src="/images/global/logo-ecc.gif" width="77" height="40" border="0" />
                </svg>
            </div>
            
             <div class="nav-social hidden-xs">
                    <ul>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
             </div>
        </div>
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>  
            <li><a href="/how-we-can-help">How we can help</a></li>
            <li><a href="/benefits">Benefits</a></li>
            
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sectors <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
	                <li><a href="/sectors/">Overview</a></li>
                	
                    <li><a href="/sectors/uk-multimodal-gateway-essex">UK Multimodal Gateway: Essex</a></li>
                    
                    <li><a href="/sectors/high-technology-cluster">High-Technology Cluster</a></li>
                    
                    <li><a href="/sectors/london-essex-uk-finance-corridor">London-Essex UK Finance Corridor</a></li>
                    
                    <li><a href="/sectors/life-sciences-healthcare-cluster">Life Sciences &amp; Healthcare Cluster</a></li>
                                   
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Studies <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/studies">Overview</a></li>
                    <li><a href="/studies/list/case-studies">Case Studies</a></li>
                    <li><a href="/studies/list/place-studies">Place Studies</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Partners <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/partners/">Overview</a></li>
                    
                    <li><a href="/partners/insurance">Insurance</a></li>
                    
                    <li><a href="/partners/other">Other</a></li>
                    
                    <li><a href="/partners/banks">Banks</a></li>
                    
                    <li><a href="/partners/recruitment">Recruitment</a></li>
                    
                    <li><a href="/partners/commercial-property">Commercial Property</a></li>
                    
                    <li><a href="/partners/legal">Legal</a></li>
                    
                    <li><a href="/partners/accountants">Accountants</a></li>
                    
                </ul>
            </li>
            <li><a href="/events">Events</a></li>
            <li><a href="/blog">News</a></li>
            <li><a href="/contacts">Contacts</a></li>
            <li><a href="/search">Search</a></li>
            
            
           
          </ul>
         
          
        </div><!-- /.navbar-collapse -->
        
    </div><!-- /.container-fluid -->
    
</nav>
  
<!-- Desktop Megamenu -->
<nav id="navDesktop" class="nav-top hidden-xs">

    <div class="nav-inner">
    
        <div class="container-full-width nav-bar-menu">
            
            <div class="container">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-bar-menu-tabs" role="tablist">
                    <li class="icon" role="presentation" ><a href="/"><i class="fa fa-home"></i></a></li>
                    <li class="icon " role="presentation" ><a href="#search" aria-controls="search" role="tab" data-toggle="tab"><i class="fa fa-search"></i></a></li>
                    <li role="presentation" ><a href="#howCanHelp" aria-controls="howCanHelp" role="tab" data-toggle="tab">How We Can Help</a></li>
                    <li role="presentation" ><a href="#benefits" aria-controls="benefits" role="tab" data-toggle="tab">Benefits</a></li>
                    <li role="presentation" ><a href="#sectors" aria-controls="sectors" role="tab" data-toggle="tab">Sectors</a></li>
                 	<li role="presentation" class="active"><a href="#studies" aria-controls="studies" role="tab" data-toggle="tab">Studies</a></li>
                    <li role="presentation" ><a href="#partners" aria-controls="partners" role="tab" data-toggle="tab">Partners</a></li>
                    <li role="presentation" ><a href="#events" aria-controls="events" role="tab" data-toggle="tab">Events</a></li>
                    <li role="presentation" ><a href="#news" aria-controls="news" role="tab" data-toggle="tab">News</a></li>
                    <li role="presentation" ><a href="#contacts" aria-controls="contact" role="tab" data-toggle="tab">Contacts</a></li>
                </ul>
            </div>
            
        </div>
       
        
        <div class="tab-content">  
                  
            <div role="tabpanel" class="tab-pane tab-pane-main-nav fade " id="search" style="background-image: url('/images/global/nav-search.jpg');">
                <div class="container">
                    <div class="inner">                    
                        <h3>Search The Site</h3>
                        <div>                       
                            <form id="formNavDesktopSearch" method="post" action="http://investessex.co.uk/"  >
<div class='hiddenFields'>
<input type="hidden" name="params" value="eyJyZXN1bHRfcGFnZSI6Ilwvc2VhcmNoXC9yZXN1bHRzIn0" />
<input type="hidden" name="ACT" value="96" />
<input type="hidden" name="site_id" value="1" />
<input type="hidden" name="csrf_token" value="3b1e4ebefade013994b1d17051238fb835ab2c7b" />
</div>


                                <fieldset>
                                    <input type="text" name="keywords" id="keywords" placeholder="Keywords" class="form-control error" required aria-required="true" aria-invalid="true" />
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </fieldset>
                            </form>
        				</div>
                    </div>                
                </div>
            </div>
            
            <div role="tabpanel" class="tab-pane tab-pane-main-nav fade " id="howCanHelp" style="background-image: url('/images/global/nav-how-we-can-help.jpg');">
                <div class="container">
                    <div class="inner">                    
                        <h3>How Can We Help?</h3>
                        <ul>
                            <li><a href="http://investessex.co.uk/how-we-can-help">Overview</a></li>                                                       
                        </ul>
                    </div>                
                </div>
            </div>
            <div role="tabpanel" class="tab-pane tab-pane-main-nav fade " id="benefits" style="background-image: url('/images/global/nav-opportunities.jpg');">
                <div class="container">
                    <div class="inner">                    
                        <h3>Benefits</h3>
                        <ul>
                            <li><a href="http://investessex.co.uk/benefits">Overview</a></li>                                                       
                        </ul>
                    </div>                
                </div>
            </div>
            <div role="tabpanel" class="tab-pane tab-pane-main-nav fade " id="sectors" style="background-image: url('/images/global/nav-sectors.jpg');">
                <div class="container">
                    <div class="inner">                    
                        <h3>Sectors</h3>
                        <ul>
                            <li><a href="http://investessex.co.uk/sectors">Overview</a></li>
                            
                            <li><a href="http://investessex.co.uk/sectors/high-technology-cluster">High-Technology Cluster</a></li>
                            
                            <li><a href="http://investessex.co.uk/sectors/life-sciences-healthcare-cluster">Life Sciences &amp; Healthcare Cluster</a></li>
                            
                            <li><a href="http://investessex.co.uk/sectors/london-essex-uk-finance-corridor">London-Essex UK Finance Corridor</a></li>
                            
                            <li><a href="http://investessex.co.uk/sectors/uk-multimodal-gateway-essex">UK Multimodal Gateway: Essex</a></li>
                                                           
                        </ul>
                    </div>                
                </div>
            </div>
            <div role="tabpanel" class="tab-pane tab-pane-main-nav fade in active" id="studies" style="background-image: url('/images/global/nav-studies.jpg');">
                <div class="container">
                    <div class="inner">                    
                        <h3>Studies</h3>
                        <ul>
                            <li><a href="http://investessex.co.uk/studies">Overview</a></li>
                            <li><a href="http://investessex.co.uk/studies/list/case-studies">Case Studies</a></li>
                            <li><a href="http://investessex.co.uk/studies/list/place-studies">Place Studies</a></li>
                    	</ul>
                    </div>                
                </div>
            </div>
            <div role="tabpanel" class="tab-pane tab-pane-main-nav fade " id="partners" style="background-image: url('/images/global/nav-partners.jpg');">
                <div class="container">
                    <div class="inner">                    
                        <h3>Partners</h3>
                         <ul>
                            <li><a href="http://investessex.co.uk/partners">Overview</a></li>
                            
                            <li><a href="http://investessex.co.uk/partners/accountants">Accountants</a></li>
                            
                            <li><a href="http://investessex.co.uk/partners/banks">Banks</a></li>
                            
                            <li><a href="http://investessex.co.uk/partners/commercial-property">Commercial Property</a></li>
                            
                            <li><a href="http://investessex.co.uk/partners/insurance">Insurance</a></li>
                            
                            <li><a href="http://investessex.co.uk/partners/legal">Legal</a></li>
                            
                            <li><a href="http://investessex.co.uk/partners/other">Other</a></li>
                            
                            <li><a href="http://investessex.co.uk/partners/recruitment">Recruitment</a></li>
                                                           
                        </ul>
                    </div>                
                </div>
            </div>
            <div role="tabpanel" class="tab-pane tab-pane-main-nav fade " id="events" style="background-image: url('/images/global/nav-events.jpg');">
                <div class="container">
                    <div class="inner">                    
                        <h3>Events</h3>
                        <ul>
                            <li><a href="http://investessex.co.uk/events">Overview</a></li>
                        </ul>
                    </div>                
                </div>
            </div>
            <div role="tabpanel" class="tab-pane tab-pane-main-nav fade " id="news" style="background-image: url('/images/global/nav-news.jpg');">
                <div class="container">
                    <div class="inner">                    
                        <h3>News</h3>
                        <ul>
                            <li><a href="http://investessex.co.uk/blog">Overview</a></li>
                        </ul>
                    </div>                
                </div>                
            </div>
            <div role="tabpanel" class="tab-pane tab-pane-main-nav fade " id="contacts" style="background-image: url('/images/global/nav-contacts.jpg');">
                <div class="container">
                    <div class="inner">                    
                        <h3>Contacts</h3>
                        <ul>
                            <li><a href="http://investessex.co.uk/contacts">Overview</a></li>
                        </ul>
                    </div>                
                </div>
            </div>
        </div>        	
    
    </div>
    
    <div class="nav-bar">
    
        <div class="container">
        
            <div class="logo">
            <a href="http://investessex.co.uk/">
            <svg width="97" height="48">
				<image xlink:href="/images/global/logo-invest-essex.svg" src="/images/global/logo-invest-essex.jpg" width="97" height="48" border="0" />
			</svg>
            </a>
            </div>
            
            <div class="nav-right">
            
                <div class="essex-logo">
                <svg width="87" height="45">
					<image xlink:href="http://www.investessex.co.uk/images/global/logo-ecc.svg" src="http://www.investessex.co.uk/images/global/logo-ecc.gif" width="87" height="45" border="0" />
                </svg>
                </div>
                <div class="nav-social">
                    <ul>
                        <li><a href="http://www.youtube.com/user/INVESTEssex" target="_blank"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="https://twitter.com/investessex" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="http://www.linkedin.com/company/2503856" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
                
                <div class="nav-btn">
                    <a href="MENU" class="btn-menu"><span class="text">MENU</span> <i class="fa fa-bars"></i></a>
                </div>
            
            </div>              
        
        </div>
    
    </div> 

</nav>  

<aside class="container-full-width container-contact-bar">

    <div class="container">
        <a href="#contact-block" class="btn btn-contact"><span class="hidden-xs">Contact Us </span><i class="fa fa-envelope"></i></a>
    </div>
    
</aside>  