---
layout: default
contact: simon-papworth
heading: Essex UK&colon; Location Benefits
hero_image: //clarity-strategies.github.io/ie-uploads/uploads/headers/BenefitsOverlay_LondonSkyline_1980x600_30pc.jpg
synopsis: Essex delivers a unique combination of location benefits for companies seeking growth in UK, European and global markets. These include&colon;
---

<section class="container-full-width container-subpage-hero dark" style="background-image: url('{{ page.hero_image}}');">
                
    <div class="container">           
             
        <div class="inner">     
            <header class="section-header clearfix to-be-animated animated fadeInUp">
                <h1>{{ page.heading }}</h1>
                <div class="synopsis">
					<p>{{ page.synopsis }}</p>
                </div>
            </header> 
        </div>
        
    </div>

</section>   
     
     
                    
  <section class="container-full-width container-content container-single-pager light">
        
            <article class="container">
        
                <div class="row">
                    <div class="col-sm-12">
                    
                        <header class="section-header clearfix">
                            <h3 class="notwhite">UK and International Connectivity</h3>
                        </header> 
                    
                    </div>
                </div>
                
                
                <div class="row">
                    <div class="col-sm-12 col-listing-content">
                    
                        <div class="content">
                        
                            <p>Essex delivers unbeaten connectivity to UK and international markets, for business people, freight and data . . .</p>

<ul>
	<li>Just 30 minutes from London’s global business hub (by train)</li>
	<li>Prestigious business locations just 35 minutes from Cambridge (drive time)</li>
	<li>Direct access to the UK motorway network via M25, London’s orbital motorway, and M11&nbsp;</li>
	<li>6 London airports within 1.15 hours drive time (including London Heathrow), delivering comprehensive global connectivity</li>
	<li>‘The UK’s Multimodal Gateway’: 4 international deep sea ports, 6 rail freight terminals and the UK’s 3rd largest cargo airport (London Stansted) in Essex</li>
	<li>Fast data connectivity to London, facilitating high-speed trading</li>
	<li>UK top-ranked broadband internet coverage (Ofcom rank: 1)</li>
</ul>
                                            
                        </div>
                                    
                    </div>
                 </div>                   
                
            </article>
        
        </section>
        
        
        <section class="container-full-width container-full-image dark" style="background-image: url('//clarity-strategies.github.io/ie-uploads/uploads/pages/LondonGateway_1980x500.jpg');"></section><section class="container-full-width container-content container-single-pager light adjacent-light-no-pad-b">
        
            <article class="container">
        
                <div class="row">
                    <div class="col-sm-12">
                    
                        <header class="section-header clearfix">
                            <h3 class="notwhite">Integration with London: Global Business Hub</h3>
                        </header> 
                    
                    </div>
                </div>
                
                
                <div class="row">
                    <div class="col-sm-12 col-listing-content">
                    
                        <div class="content">
                        
                            <p>Essex is an integral part of London’s world-leading Financial and Professional Services cluster, combining fast connectivity to London with a significantly reduced cost base. Key benefits include . . .</p>

<ul>
	<li>Direct access to the City of London’s finance hub in just 30 minutes (by train)</li>
	<li>Access to a large scale ‘London-Essex’ financial and administrative workforce, including 103,000 financial and business services workers in Essex, 142,000 Essex-based London commuters and 680,000 accessible London finance cluster workers</li>
	<li>A large, well-established Essex Financial and Professional Services business cluster with deep links to the London hub, specialising in areas including back office (e.g. banking and insurance), business process out-sourcing (BPO), financial data centre operations and niche financial services (e.g. wealth management and financial technologies)</li>
</ul>
                                            
                        </div>
                                    
                    </div>
                 </div>                   
                
            </article>
        
        </section>
        
        
        <section class="container-full-width container-content container-single-pager light adjacent-light adjacent-light-no-pad-b">
        
            <article class="container">
        
                <div class="row">
                    <div class="col-sm-12">
                    
                        <header class="section-header clearfix">
                            <h3 class="notwhite">Technology &amp; Innovation</h3>
                        </header> 
                    
                    </div>
                </div>
                
                
                <div class="row">
                    <div class="col-sm-12 col-listing-content">
                    
                        <div class="content">
                        
                            <p>Located at the heart of the London-Stansted-Cambridge Innovation Corridor, Essex is home to world-class technology companies, research parks, knowledge workers and university research capabilities. Essex offers . . .</p>

<ul>
	<li>Direct access to Europe’s best research universities and knowledge: the University of Cambridge and Imperial College London are both <strong>ranked in Europe’s top 3 for Engineering and Technology, and Life Sciences</strong>. The University of Essex <strong>ranks amongst the world top 2% of universities</strong> and the<strong> UK’s top 20 universities for research excellence</strong> (Times Higher Education rankings; REF 2014)</li>
	<li>Leading technology businesses, including e2V, Raytheon, Ipeco, Selex ES and BAE Systems</li>
</ul>
                                            
                        </div>
                                    
                    </div>
                 </div>                   
                
            </article>
        
        </section>
        
        
        <section class="container-full-width container-content container-single-pager light adjacent-light adjacent-light-no-pad-b">
        
            <article class="container">
        
                <div class="row">
                    <div class="col-sm-12">
                    
                        <header class="section-header clearfix">
                            <h3 class="notwhite">A low cost base for businesses</h3>
                        </header> 
                    
                    </div>
                </div>
                
                
                <div class="row">
                    <div class="col-sm-12 col-listing-content">
                    
                        <div class="content">
                        
                            <p>Essex combines value-adding benefits with significant cost advantages versus London, Cambridge, the UK’s major cities, alternative UK logistics hubs and other European competitor locations. Proven cost savings for businesses include . . .</p>

<ul>
	<li>Prime office rents<strong> -74%</strong> vs the City of London,<strong> -38%</strong> versus Cambridge and -26% versus the UK’s major (core) regional cities (Colliers, 2015 data)</li>
	<li>Average wages <strong>-48%</strong> versus the City of London and -7% versus the UK’s major (core) provincial cities (average of) (ONS, 2015 data)</li>
	<li>‘IT Finance’ wage<strong> -17%</strong> versus ‘London and the M4 corridor’</li>
	<li>Significant potential cost savings with portcentric distribution from Essex&nbsp;</li>
</ul>
                                            
                        </div>
                                    
                    </div>
                 </div>                   
                
            </article>
        
        </section>
   <section id="video" class="container-full-width container-content container-auto-height dark container-no-padding">
    
        <div class="home-video-container">
            <iframe src="//www.youtube.com/embed/sLr2SNRvT-c" frameborder="0" width="560" height="315"></iframe>
        </div>    
    </section>
        
        <section id="what-companies-say" class="container-full-width container-content xyzcontainer-single-pager light adjacent-light adjacent-light-no-pad-b">
        <div class="clearfix"></div>
            <article class="container">
        
                <div class="row">
                    <div class="col-sm-12">
                    
                        <header class="section-header clearfix">
                            <h3 class="notwhite">What Companies Say</h3>
                            
                        </header> 
                    
                    </div>
                </div>


    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center"> 
                <div class="carousel-nav-owl carousel-nav-testimonials  clearfix">
                   <div class="controls"></div>
                </div>                 
                <div class="owl-carousel carousel-testimonials owl-loaded owl-drag">                
                   {% for testimonial in site.data.testimonial-carousels.testimonials-opportunities %}
                            <div class="inner">                                          
                                <div class="quote">                      
                                    <p>{{ testimonial.quote }}</p>
                                </div>
                                <p class="name">{{ testimonial.name }}</p>
                                <p class="company">{{ testimonial.company }}</p>
                            </div>
                   {% endfor %}
                </div>
                
            </div>            
        </div>   
	</div>
    
</section>

{% assign thecontact = site.contacts | where: "contact_url", page.contact | first %}
{% include contactblock.html %}  