---
layout: default
---

<aside class="container-full-width container-contact-bar">
    <div class="container">
        <a href="{{ site.url }}/contacts/" class="btn btn-contact"><span class="hidden-xs">Contact Us </span><i class="fa fa-envelope"></i></a>
    </div>   
</aside>

<section class="container-full-width container-content container-auto-height h1-only light">
    
        <article class="container">
        
            <div class="row">
            
                <div class="col-sm-12 col-listing-content">
                
                    <header class="section-header clearfix">
                        
                        <h1>News - {{ page.pagination.category | replace: '-', ' ' }}</h1>	
                        {{ content | markdownify }}
                    </header> 
                 
                </div>
                
             </div>
             
         </article>
         
    </section>
<!-- This loops through the paginated posts -->
<section class="container-full-width container-content container-auto-height light">
<div class="container">
<div class="row">
<div class="col-sm-7 col-md-8">
{% for post in paginator.posts %}
<article class="listing-blog-block">
                        
<div class="header">
    <div class="title">
        <h3>{{ post.heading }}</h3>
    </div>
</div>

<div class="summary clearfix">

    <div class="image" style="background-image: url('{{post.thumbnail_image}}');"></div>
    <div class="content">
        <p>{{post.metadesc}}</p>
        <ul class="info clearfix">
            <li class="date">{{post.pub_date | date_to_long_string }}</li>
            <li><a href="{{ post.url }}" class="btn">Read More</a></li>
        </ul>         
    </div>


</div>
                        
</article>

{% endfor %}
</div>

{% if paginator.page_trail %}
    <div id="pagination" class="pagination">
        <p class="current">Page {{page.pagination_info.curr_page}} of {{page.pagination_info.total_pages}}</p>
    <ul>
    {% if paginator.previous_page %}
     <li><a href="{{ '/blog/' | prepend: site.baseurl }}" title="{{trail.title}}">First Page</a></li>
    {% endif %} 
  {% for trail in paginator.page_trail %}
    <li>
        <a {% if page.url == trail.path %}style="background:#f1f1f1;color:#000;"{% endif %} href="{{ trail.path | prepend: site.baseurl | replace: '/index.html', ''}}" title="{{trail.title}}">{{ trail.num }}</a>
    </li>
  {% endfor %}
  {% if paginator.next_page %}
  <li><a href="{{ page.pagination_info.total_pages | prepend: '/blog/' | prepend: site.baseurl }}" title="{{trail.title}}">Last Page</a></li>
  {% endif %}
  </ul>
  </div>
{% endif %}


</div>
</div>
<!-- sidebars -->
</section>