---
layout: default
--- 	


<section class="container-full-width container-subpage-hero dark"  style="background-image: url('{{ page.hero_image }}');">
    <div class="black-overlay"></div>              
    <div class="container">                        
        <div class="inner">     
            <header class="section-header clearfix to-be-animated">
                <h1>{{ page.heading }}</h1>
                <div class="synopsis">
					{{ page.synopsis }}
                </div>
            </header> 
        </div>        
    </div>
</section>        
<section class="container-full-width container-content container-auto-height light">
    <article class="container">    
        <div class="row">        
            <div class="col-sm-7 col-md-8 col-listing-content">            
                <header class="section-header carousel-below clearfix">
                    <h2>Case<br/>Study</h2>
                </header>                 
                <div class="content">   
{{ content }}      
                </div>
            </div>
            <aside class="col-sm-5 col-md-4 col-sidebar">            
            <!-- Start Widget -->
                
                    
                    {% for article in page.related %}
                    {% if forloop.first %}
                    <div class="sidebar-widget articles">
                    <h5>Related Studies</h5>
                    {% endif %}
                    {% assign relposts = site.place-studies | where: "url", article %}
                        {% for item in relposts %}
                            <div class="article">
                                <h6>{{ item.title }}</h6>
                                <ul class="info clearfix">
                                    <li class="date">{{ item.date | date_to_long_string }}</li>
                                    <li><a href="{{ item.url }}" class="btn">Read More</a></li>
                                </ul>
                            </div>
                        {% endfor %}
                       {% if forloop.last %} </div> {% endif %}
                    {% endfor %}    
                
                <!-- Start Widget -->

                    {% for sector in page.sectors%}
                    {% if forloop.first %}
                    <div class="sidebar-widget list-links">
                        <h5>Related Sectors</h5>
                          <ul>           
                    {% endif %}                   
                    <li class="link"><a href="{{absolute_url }}/sectors/{{ sector}}">{{ sector | replace: '-', ' ' | camelcase}}</a></li>
                    {% if forloop.last %}
                          </ul>  
                     </div>
                     {% endif %}
                    {% endfor %}

            </aside>          
        </div>           
    </article>    
</section>
{% assign thecontact = site.contacts | where: "contact_url", page.contact | first %}
{% include contactblock.html %}    

</body>
</html>


