---
nav: background-on
layout: default
---  
<aside class="container-full-width container-contact-bar">
    <div class="container">
        <a href="#contact-block" class="btn btn-contact"><span class="hidden-xs">Contact Us </span><i class="fa fa-envelope"></i></a>
    </div>    
</aside>
<section class="container-full-width container-content container-auto-height h1-only light">

    <article class="container">
    
        <div class="row">
        
            <div class="col-sm-12 col-listing-content">
            
                <header class="section-header clearfix">
                	
                    <h1>{{ page.heading}}</h1> 
                    
                </header> 
             
            </div>
            
         </div>
         
     </article>
     
</section>

<section class="container-full-width container-content container-auto-height light">

    <div class="container">
    
        <div class="row">
        
            <div class="col-sm-7 col-md-8 col-listing-content">      
            
            	<div class="content">   
                <!-- Start of Content -->
                {{ content }}
                    
                <!-- END OF CONTENT -->                   
                    <div class="news-article-footer">
                                    
                        <ul class="clearfix">
                            <li class="date"><span>Date:</span> {{ page.pub_date | date_to_long_string }}</li>
                            <li><span>Posted By:</span> {{ page.Author }}</li> 
                        </ul>
                        
                       {% assign thesectors = page.sectors.size %}
                       {% if page.sectors.size > 0 %}
                        <ul class="clearfix">
                        	<li class="marker">Posted In:</li>
                            {% for sector in page.sectors%}
                            <li class="link"><a href="{{absolute_url }}/sector/{{ sector}}.html">{{ sector | replace: '-', ' ' | camelcase}}</a></li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                               
                    </div>  
                    
                    <div class="news-addthis">
                    
                        <div class="addthis_toolbox addthis_default_style marginTMed">
                        <a itemprop="url" class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                        <a itemprop="url" class="addthis_button_tweet"></a>
                        <a itemprop="url" class="addthis_button_google_plusone"></a>
                        <a itemprop="url" class="addthis_counter addthis_pill_style"></a>
                        </div>
                        <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
                        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-50100d11248d2cf6"></script>
                    
                    </div>         

                    
                </div>   
                
            
            </div>
            
            
            <aside class="col-sm-5 col-md-4 col-sidebar">      
            
            	         
            	
				<!-- Start Widget --> 
<div class="sidebar-widget articles">

    <h5>Recent Articles</h5>

    {% for post in site.posts limit:3 %}
    <div class="article">
        <h6>{{post.heading}}</h6>
        <ul class="info clearfix">
            <li class="date">{{ post.pub_date | date_to_long_string  }}</li>
            <li><a href="{{ post.url }}" class="btn">Read More</a></li>
        </ul>
    </div>
    {% endfor %}

    
</div>      

                                    
				
<!-- Start Widget -->
{% if page.sectors.size > 0 %}
<div class="sidebar-widget list-links">

    <h5>Related Sectors</h5>
    <ul>
    {% for sector in page.sectors %}
        <li class="link"><a href="{{absolute_url }}/sector/{{ sector}}">{{ sector | replace: '-', ' ' | camelcase}}</a></li>
    {% endfor %}

    </ul>
    
</div>
{% endif %}

                                
				               
            
            </aside>  
        
        
        </div>       
    
    </div>
    
</section>


{% assign thecontact = site.contacts | where: "contact_url", page.contact | first  %}
{% include contactblock.html %}


