---
layout: default
---

<section class="container-full-width container-content container-auto-height h1-only light adjacent-light-no-pad-b">

    <article class="container">
    
        <div class="row">
        
            <div class="col-sm-12 col-listing-content">
            
                <header class="section-header clearfix">                    
                    <h1>Privacy Policy</h1>       
                </header> 
             
            </div>
            
         </div>
         
     </article>
     
</section>


<section class="container-full-width container-content container-auto-height light adjacent-light">

    <div class="container">
    
        <div class="row">
        
            <div class="col-sm-12">            
            
                <p></p><p><strong>Privacy policy </strong><br>
 <br>
We do not collect personal information about you when you visit the website unless you choose to provide it to us to take advantage of a specific service, for example completing an online form.<br>
&nbsp; <br>
<strong>Use of cookies  </strong><br>
To make this site simpler, we sometimes place small data files on your computer. These are known as cookies. Most big websites do this too.</p>

<p><strong>They improve things by:</strong><br>
 <br>
remembering settings, so you don’t have to keep re-entering them whenever you visit a new page</p>

<p>remembering information you’ve given (eg your postcode) so you don’t need to keep entering it</p>

<p>measuring how you use the website so we can make sure it meets your needs.</p>

<p>By using our website, you agree that we can place these types of cookies on your device.<br>
 <br>
We do not use cookies on our main website that collect information about your browsing habits in order to make advertising relevant to you and your interests.</p>

<p>Our cookies aren’t used to identify you personally. They’re just here to make the site work better for you. Indeed, you can manage and/or delete these small files as you wish.<br>
 <br>
To learn more about cookies and how to manage them, visit AboutCookies.org or watch a video about cookies.</p>

<p>Measuring website usage (Google Analytics)<br>
 <br>
We use Google Analytics to collect information about how people use this site. We do this to make sure it’s meeting its users’ needs and to understand how we could do it better.<br>
 <br>
Google Analytics stores information about what pages you visit, how long you are on the site, how you got here and what you click on. We do not collect or store your personal information (e.g. your name or address) so this information cannot be used to identify who you are.<br>
 <br>
The following cookies are set by Google Analytics:</p>

<p><strong> Name -&nbsp; 	Typical Content	- Expires</strong><br>
_utma - randomly generated number - 2 years<br>
_utmb - randomly generated number - 30 minutes<br>
_utmc - randomly generated number - when you close your browser<br>
_utmx - randomly generated number - 2 years<br>
_utmxx - randomly generated number - 2 years<br>
_utmz - randomly generated number and information on how the site was reached (e.g. direct or via a link, organic search or paid search)	</p>

<p><br>
We also collect information on the number of times particular search terms are used and the number of failed searches. We use this information to improve access to the site and to identify gaps in the information content so we can plan appropriate expansion of the system.<br>
 <br>
<strong>Unless the law allows us to, we do not:</strong><br>
share any of the information we collect about you with others<br>
use this information to identify individuals.<br>
 <br>
<strong>Third party cookies</strong><br>
We use videos from YouTube and feeds from other websites such as Facebook and Twitter. These third party websites place cookies on your device when watching or viewing these pages.<br>
 <br>
Below are links to their cookie policies:</p>

<p><a href="https://www.google.co.uk/intl/en/policies/">Google and YouTube</a><br>
<a href="https://www.facebook.com/help/360595310676682/">Facebook</a><br>
<a href="https://twitter.com/privacy">Twitter</a><br>
 <br>
<strong>Disabling cookies</strong><br>
You can stop cookies being downloaded on to your computer or other device by selecting the appropriate settings on your browser. If you do this, however, you may not be able to use the full functionality of this website.<br>
 <br>
There is more information about how to delete or stop using cookies on AboutCookies.org. If you wish, you can also opt out of being tracked by Google Analytics.<br>
 <br>
<strong>Personal information</strong><br>
Essex County Council handles information in accordance with the Data Protection Act 1998 and Freedom of Information Act 2000 and is the data controller for the purposes of the Data Protection Act.<br>
 <br>
If you choose to send us personal information, we will use that information to respond to your enquiry and will only pass your details to another agency if it is required by law or that agency is relevant to your enquiry. We do not collect personal information for commercial purposes.<br>
 <br>
<strong>Links to other sites </strong><br>
The Essex County Council website links you to many other websites. We do not have any control over the content, security policy or privacy policy of these sites. <br>
 <br>
<strong>Further Information</strong><br>
If you would like to see any information we hold about you then please contact the Access to Records Team at:<br>
 <br>
<strong>Access to Records Team</strong><br>
Essex County Council<br>
PO Box 297<br>
County Hall<br>
Chelmsford<br>
Essex<br>
CM1 1YS<br>
Tel: 0845 603 7627<br>
Fax: 01245 436604<br>
Email: access.records@essex.gov.uk</p>

<p></p>                
                
            </div>    

		</div>

	</div>
    
</section>    