---
layout: default
---  

<aside class="container-full-width container-contact-bar">

    <div class="container">
        <a href="#contact-block" class="btn btn-contact"><span class="hidden-xs">Contact Us </span><i class="fa fa-envelope"></i></a>
    </div>
    
</aside>    



	<section class="container-full-width container-subpage-hero dark"  style="background-image: url('{{ page.hero_image }}');">
    
                
    <div class="container">           
             
        <div class="inner">     
            <header class="section-header clearfix to-be-animated">
                <h1>{{ page.H1 }}</h1>
                <div class="synopsis">
					{{ page.synopsis }} 
                </div>
            </header> 
        </div>
        
    </div>

</section>        


<section class="container-full-width container-content container-auto-height light">
  <article class="container">
    <div class="row">
      <div class="col-sm-7 col-md-8 col-listing-content">
          <div class="content">   
          {{ content }}
          </div>
      </div>
      
   <aside class="col-sm-5 col-md-4 col-sidebar">            
    <!-- Start Widget -->
    {% for casestudy in page.related_case_studies %}
                    {% if forloop.first %}
                    <div class="sidebar-widget carousel">
                    <h5>Related Case Studies</h5>
                       <div class="carousel-nav-owl carousel-nav-sidebar-case-studies clearfix ">
                        <div class="controls"></div>
                      </div> 
                    <div class="owl-carousel carousel-sidebar-widget carousel-sidebar-case-studies"> 
                    {% endif %}
                    {% assign sectorcasestudy = site.case-studies | where: "heading", casestudy %}
                    {% for cstudy in sectorcasestudy %}
                    <div class="inner">
                        <div class="image" style="background-image: url('{{ cstudy.thumbnail_image }}');"></div>
                        <h6>{{ cstudy.heading }}</h6>
                        
                        <a href="/studies/place-studies/{{ cstudy.url }}" class="btn">Read More</a>
                    </div>
                    {% endfor %}
                       {% if forloop.last %} </div> </div> {% endif %}
      {% endfor %} 
<!-- End Widget -->   
             
<!-- Start Widget -->

    {% for placestudy in page.related_place_studies %}
                    {% if forloop.first %}
                    <div class="sidebar-widget carousel">
                    <h5>Related Place Studies</h5>
                       <div class="carousel-nav-owl carousel-nav-sidebar-place-studies clearfix ">
                        <div class="controls"></div>
                      </div> 
                    <div class="owl-carousel carousel-sidebar-widget carousel-sidebar-place-studies"> 
                    {% endif %}
                    {% assign sectorplacestudy = site.place-studies | where: "heading", placestudy %}
                    {% for pstudy in sectorplacestudy %}
                    <div class="inner">
                        <div class="image" style="background-image: url('{{ pstudy.thumbnail_image }}');"></div>
                        <h6>{{ pstudy.heading }}</h6>
                        
                        <a href="/studies/place-studies/{{ pstudy.url }}" class="btn">Read More</a>
                    </div>
                    {% endfor %}
                       {% if forloop.last %} </div> </div> {% endif %}
      {% endfor %}  

<!-- End Widget -->                
<!-- Start Widget -->
{% for article in page.related_articles %}
                    {% if forloop.first %}
                    <div class="sidebar-widget articles">
                    <h5>Related Articles</h5>
                    {% endif %}
                    {% assign relposts = site.posts | where: "posturl", article %}
                        {% for item in relposts %}
                            <div class="article">
                                <h6>{{ item.title }}</h6>
                                <ul class="info clearfix">
                                    <li class="date">{{ item.date | date_to_long_string }}</li>
                                    <li><a href="{{ item.url }}" class="btn">Read More</a></li>
                                </ul>
                            </div>
                        {% endfor %}
                       {% if forloop.last %} </div> {% endif %}
                    {% endfor %}    
</aside>  
</div>       
</article>
</section>    
<section class="container-full-width container-content container-single-pager light">
  <article class="container">
    <div class="row">
       <div class="col-sm-12">
          <header class="section-header carousel-below clearfix">
                    <h2>Companies in this sector</h2>
           </header> 
        </div>
    </div>
<section class="container-full-width container-content container-single-pager light">
   <div class="container">
     <div class="row">
        <div class="col-sm-12 text-center">                 
            <div id="carouselNavLogoCarousel2420" class="carousel-nav-owl carousel-nav-logo-carousel clearfix">
               <div class="controls"></div>
            </div> 
                    
                <div id="carouselLogoCarousel2420" class="owl-carousel carousel-single-logos carousel-logo-carousel" data-logo-carousel-entry-id="2420">
                      
                        <div class="inner" style="background-image: url('//clarity-strategies.github.io/ie-uploads/uploads/partners/cell-centric-on-white.jpg')";></div><div class="inner" style="background-image: url('http://investessex.co.uk/uploads/partners/hs-clement-clarke-on-white.jpg')";></div><div class="inner" style="background-image: url('http://investessex.co.uk/uploads/partners/olympus-on-white.jpg')";></div><div class="inner" style="background-image: url('http://investessex.co.uk/uploads/partners/illumina-on-white.jpg')";></div><div class="inner" style="background-image: url('http://investessex.co.uk/uploads/partners/charles-river-on-white.jpg')";></div><div class="inner" style="background-image: url('http://investessex.co.uk/uploads/partners/isogenica-on-white.jpg')";></div><div class="inner" style="background-image: url('http://investessex.co.uk/uploads/partners/martindale-pharma-on-white.jpg')";></div>
                
                </div>
                
            </div>            
        </div>
        
	</div>
    
</section>
        
        
    </article>   

</section>






<section class="container-full-width container-content container-single-pager light">

    <article class="container">
    
        <div class="row">
            <div class="col-sm-12">
            
                <header class="section-header carousel-below clearfix">
                    <h2>Testimonials</h2>
                </header> 
            
            </div>
        </div>        
        
        <section class="container-full-width container-content container-single-pager light">

    <div class="container">

        <div class="row">
            <div class="col-sm-12 text-center">                 
            
            	
                    
                <div class="owl-carousel carousel-testimonials">
                      
                                                          
                            <div class="inner">                                          
                                <div class="quote">                      
                                    <p>&ldquo;Collaboration with the international research community is an important part of our business.&nbsp; Essex is conveniently situated for a team that is very mobile. We find that having London Stansted Airport and London Heathrow Airport so close by is important&rdquo;&nbsp;</p>
                                </div>
                                <p class="name">Sandy McBean</p>
                                <p class="company">General Manager Europe, Illumina</p>
                            </div>
                                                          
                            <div class="inner">                                          
                                <div class="quote">                      
                                    <p>&ldquo;We market our products throughout the world, that means a great deal of travelling for our staff. Our sales and marketing teams are regularly visiting customers or training users in the field. The proximity of London Stansted Airport makes it very convenient to conduct a global business like ours.&rdquo;&nbsp;</p>
                                </div>
                                <p class="name">Achel Shenoy</p>
                                <p class="company">International Sales Manager, Clement Clarke International</p>
                            </div>
                                                          
                            <div class="inner">                                          
                                <div class="quote">                      
                                    <p>&ldquo;Essex has a good mix of the right skills and experience, so we are able to meet our recruitment needs locally. We also find that the colleges in the area are a good source of apprentices for the future.&rdquo;</p>
                                </div>
                                <p class="name">Anthony Knight</p>
                                <p class="company">Finance Director, Martindale Pharma</p>
                            </div>
                                                          
                            <div class="inner">                                          
                                <div class="quote">                      
                                    <p>&ldquo;We are fortunate that Essex, with its electronics and manufacturing heritage, has an established pool of high-tech skills so we are able to tap into the local labour market.&nbsp; There is a good network of training schools and colleges which we can use as part of our continuous staff&nbsp;<span style="line-height:1.6">development programme.&rdquo;</span></p>
                                </div>
                                <p class="name">Mark Jackson</p>
                                <p class="company">Head of (Manufacturing) Business Development, Olympus KeyMed</p>
                            </div>
                        
                
                </div>
                
            </div>            
        </div>
        
	</div>
    
</section>   
        
    </article>    

</section>
{% assign thecontact = site.contacts | where: "contact_url", page.contact | first %}
{% include contactblock.html %}
